<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 th:text="${title}"></h1>
    <ul>
        <li th:text="${user.name}"></li>
        <li th:text="${user.lastName}"></li>
        <li th:if="${user.email}" th:text="${user.email}"></li>
        <li th:if="${not (user.email != null)}" th:text="'El usuario no tiene email'"></li>
    </ul>
    <a th:href="@{/list}">Ver listado</a>
    <a th:href="@{'/api/params/foo?mensaje=' + ${user.name}}" target="_blank">Ver mensaje</a>
    <a th:href="@{/api/params/foo(mensaje='Hello World!')}">Ver mensaje 2</a>
    <a th:href="@{/api/params/bar(text='Hello World!', code=123)}">Ver objeto</a>
    <a th:href="@{'/api/path-variable/baz/' + ${user.name}}" target="_blank">Ver baz path variable</a>
</body>
</html>